.idea
node_modules
package-lock.json
**/node_modules
*.log
build
dist
.DS_Store
coverage
.dart_tool
pubspec_overrides.yaml
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.lock
mason-lock.json
.mason
devtools_options.yaml
